---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/launches/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '{"flight_number":96,"mission_name":"Starlink-8 & SkySat 16-18","mission_id":[],"launch_year":"2020","launch_date_unix":1592040060,"launch_date_utc":"2020-06-13T09:21:00.000Z","launch_date_local":"2020-06-13T05:21:00-04:00","is_tentative":false,"tentative_max_precision":"hour","tbd":false,"launch_window":0,"rocket":{"rocket_id":"falcon9","rocket_name":"Falcon
        9","rocket_type":"FT","first_stage":{"cores":[{"core_serial":"B1059","flight":3,"block":5,"gridfins":true,"legs":true,"reused":true,"land_success":true,"landing_intent":true,"landing_type":"ASDS","landing_vehicle":"OCISLY"}]},"second_stage":{"block":5,"payloads":[{"payload_id":"Starlink
        8","norad_id":[],"reused":false,"customers":["SpaceX"],"nationality":"United
        States","manufacturer":"SpaceX","payload_type":"Satellite","payload_mass_kg":15400,"payload_mass_lbs":33951.2,"orbit":"VLEO","orbit_params":{"reference_system":"geocentric","regime":"very-low-earth","longitude":null,"semi_major_axis_km":null,"eccentricity":null,"periapsis_km":null,"apoapsis_km":null,"inclination_deg":null,"period_min":null,"lifespan_years":null,"epoch":null,"mean_motion":null,"raan":null,"arg_of_pericenter":null,"mean_anomaly":null}}]},"fairings":{"reused":true,"recovery_attempt":true,"recovered":null,"ship":"GOMSTREE"}},"ships":["GOMSTREE","GOMSCHIEF","GOQUEST","OCISLY"],"telemetry":{"flight_club":null},"launch_site":{"site_id":"ccafs_slc_40","site_name":"CCAFS
        SLC 40","site_name_long":"Cape Canaveral Air Force Station Space Launch Complex
        40"},"launch_success":true,"links":{"mission_patch":"https://images2.imgbox.com/d2/3b/bQaWiil0_o.png","mission_patch_small":"https://images2.imgbox.com/9a/96/nLppz9HW_o.png","reddit_campaign":"https://www.reddit.com/r/spacex/comments/gwbr4t/starlink8_launch_campaign_thread/","reddit_launch":"https://www.reddit.com/r/spacex/comments/h7gqlc/rspacex_starlink_8_official_launch_discussion/","reddit_recovery":"https://www.reddit.com/r/spacex/comments/h8sx6q/starlink8_recovery_thread/","reddit_media":"https://www.reddit.com/r/spacex/comments/h842qk/rspacex_starlink8_media_thread_photographer/","presskit":null,"article_link":"https://spaceflightnow.com/2020/06/13/starlink-satellite-deployments-continue-with-successful-falcon-9-launch/","wikipedia":"https://en.wikipedia.org/wiki/Starlink","video_link":"https://youtu.be/8riKQXChPGg","youtube_id":"8riKQXChPGg","flickr_images":["https://live.staticflickr.com/65535/50009748327_93e52a451f_o.jpg"]},"details":"This
        mission will launch the eighth batch of operational Starlink satellites, which
        are expected to be version 1.0, from SLC-40, Cape Canaveral AFS. It is the
        ninth Starlink launch overall. The satellites will be delivered to low Earth
        orbit and will spend a few weeks maneuvering to their operational altitude
        of 550 km. This mission is expected to include rideshare payloads, SkySats
        16-18, on top of the Starlink stack. The booster for this mission is expected
        to land an ASDS.","upcoming":false,"static_fire_date_utc":null,"static_fire_date_unix":null,"timeline":null,"crew":null,"last_date_update":"2020-06-11T04:25:39.000Z","last_ll_launch_date":null,"last_ll_update":null,"last_wiki_launch_date":"2020-06-13T09:21:00.000Z","last_wiki_revision":"9a320975-ab9b-11ea-8445-0e30d54c90e7","last_wiki_update":"2020-06-11T04:25:39.000Z","launch_date_source":"wiki"}'
  recorded_at: Fri, 19 Jun 2020 16:55:01 GMT
recorded_with: VCR 6.0.0
